body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 150%;
	font-weight: 400;
	color: #4F4F4F;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
.container-l {
	width: 1200px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.aic {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.jcsb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.fww {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.aifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.fdc {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.jcfe {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.trans {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.ff-mon {
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #05376C;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title-l {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #05376C;
	font-family: 'Montserrat', sans-serif;
}
.title-m {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #05376C;
	font-family: 'Montserrat', sans-serif;
}
.title-s {
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	color: #05376C;
	font-family: 'Montserrat', sans-serif;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn,
.header__help {
	display: none;
}
.btn {
	padding: 20px 40px;
	color: #FFFFFF;
	background: #05376C;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}
.btn:hover {
	text-decoration: none;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.btn-sec {
	border: 1px solid #05376C;
	background: transparent;
	color: #05376C;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	padding: 20px 40px;
}
.btn-sec:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #05376C;
}

.center {
	text-align: center;
}
.hidden {
	display: none;
}

/* -----icons---- */
.wh24 {
	width: 24px;
	height: 24px;
}
.wh40 {
	width: 40px;
	height: 40px;
}

/* ---------------breadcrumbs----------------- */

.breadcrumbs {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.breadcrumbs__link {
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
}

.breadcrumbs__separator {
	display: block;
	width: 3px;
	height: 3px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	margin: 0 16px;
}

/* -----------------------------Header---------------------------- */


.header__top {
	background: #05376C;
	padding: 8px;
}
.header__top-nav {
	margin-right: 25px;
}
.header__top-nav a {
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
.header__top-nav li:not(:last-child) {
	margin-right: 30px;
}
.select2-container--default .select2-selection--single {
    background: none !important;
    border: none !important;
	height: 24px !important;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
    line-height: 24px !important;
	padding-left: 0 !important;
	font-family: Montserrat !important;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}
.select2-selection__arrow {
    height: 24px !important;
    top: 0px !important;
    right: 0px !important;
    width: 24px !important;
}
.select2-selection__arrow b,
.select2-search--dropdown {
	display: none !important;
}
.select2-selection__arrow::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: url('../img/sel-arr.png') no-repeat 0 0 / cover;
}
.select2-results__option {
	font-family: Montserrat !important;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}
.header__select {
	margin-right: 40px;
}
.header__login {
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.header__login svg {
	margin-right: 5px;
}
.header__wrap {
	padding: 20px 0;
}
.header__search {
	margin-left: auto;
	margin-right: 40px;
}
.header__search-line {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 880px;
	max-height: 100px;
	opacity: 0;
	pointer-events: none;
}
.header__item {
	position: relative;
	padding-left: 31px;
}
.header__item svg {
	position: absolute;
	left: 0;
	top: 0;
}
.header__item a,
.header__item span {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #05376C;
}
.header__item:not(:last-child) {
	margin-right: 20px;
}
.header__contacts {
	margin-right: 36px;
}
.header__time {
	margin-right: 25px;
}
.search-i {
	cursor: pointer;
}
.header .container-l {
	padding: 0 21px 0 5px;
	background: #E0E0E0;
}
.order__btn {
	padding: 23px 18px;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}
.header__nav li {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #E0E0E0;
}
.header__nav li a {
	padding: 23px 15px;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #05376C;
	display: inline-block;
	position: relative;
}
.header__nav li a:hover {
	text-decoration: none;
}
.header__nav li a:after {
	content: '';
	position: absolute;
	display: block;
	height: 1px;
	right: 15px;
	left: 15px;
	bottom: 20px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__nav li:hover,
.header__nav li.active {
	background: #fff;
}
.header__nav li:hover a::after,
.header__nav li.active a:after {
	background: #05376C;
}


/* ---mainoffer--- */
.main__offer-wrap {
	position: relative;
	height: 580px;
}
.main__offer-l::before {
	content: '';
	display: block;
	position: absolute;
	width: 403px;
	height: 552px;
	background: url('../img/main-l.png') no-repeat 0 0 / cover;
	left: 0;
	bottom: 0;
	z-index: 5;
	pointer-events: none;
}

.main__offer-r:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 471px;
	height: 518px;
	background: url('../img/main-r.png') no-repeat 0 0 / cover;
	z-index: 3;
	pointer-events: none;
}
.main__offer-l,
.main__offer-r {
	width: 50%;
	padding-top: 110px;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
}
.main__offer-l {
	padding-left: 280px;
	left: 0;
	background: #EDF3FE;
	-webkit-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
.main__offer .title-m {
	margin-bottom: 43px;
	max-width: 320px;
}
.main__offer-r {
	padding-left: 78px;
	right: 0;
	margin-left: auto;
	background: #F2F2F2;
}
.main__offer-l:hover {
	width: 75%;
	z-index: 4;
}
.main__offer-l:hover .title-m,
.main__offer-r:hover .title-m {
	margin: 0;
}
.main__offer-r:hover {
	width: 75%;
	z-index: 4;
}
.main__offer-txt {
	position: relative;
	height: 0;
}
.main__offer-wrap p {
	max-width: 502px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	top: -96px
}
.main__offer-l:hover p,
.main__offer-r:hover p {
	top: 0;
	opacity: 1;
}
.main__offer-l:hover .main__offer-txt,
.main__offer-r:hover .main__offer-txt {
	margin: 17px 0;
	height: 96px;
}


/* -------service------ */

.service {
	padding: 68px 0 100px;
}
.service .title-m {
	margin-bottom: 14px;
	max-width: 818px;
}
.service__wrap {
	margin: -4px -20px -40px;
}
.service__card-wrap {
	padding: 40px 20px;
	width: 33.33%;
}
.service__card {
	display: block;
	height: 100%;
}
.service__card:hover {
	text-decoration: none;
	-webkit-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2);
	        box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2);
}
.service__img {
	display: block;
	height: 250px;
}
.service__img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.service__info {
	display: block;
	padding: 15px 22px 31px 18px;
}
.ellips {
	overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.service__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #05376C;
    -webkit-line-clamp: 2;
    height: 44px;
	margin-bottom: 14px;
	display: block;
}
.service__info p {
	font-size: 14px;
}
.service__card-last {
	background: #F8F8F8;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	height: 100%;
	padding: 54px 22px 60px 18px;
}
.service__card-last .title-s {
	margin-bottom: 16px;
}
.service__card-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #05376C;
}
.service__txt {
	font-size: 14px;
	color: #4F4F4F;
}


/* -------spec------ */
.spec {
	background: #F2F2F2;
}
.spec__wrap {
	position: relative;
	padding: 68px 0 30px; 
}
.spec__wrap::after {
	content: '';
	display: block;
	position: absolute;
	width: 390px;
	height: 350px;
	right: 0;
	bottom: 0;
	background: url('../img/spec-bg.png') no-repeat 0 0 / cover;
}
.spec__wrap .title-l {
	margin-bottom: 18px;
}
.spec__wrap p {
	font-size: 18px;
	margin-bottom: 22px;
	max-width: 700px;
}
.spec__btns .btn {
	margin-right: 28px;
}
/* -----event----- */
.event {
	padding: 98px 0 80px;
}
.event .title-m {
	margin-bottom: 33px;
}
.event__wrap {
	margin: -20px;
}
.event__card-wrap {
	padding: 20px;
	width: 25%;
}
.event__card {
	height: 100%;
	padding: 25px 20px;
	background: #F8F8F8;
}
.event__title {
	font-weight: 600;
	line-height: 120%;
	color: #05376C;
	margin-bottom: 10px;
}
.event__place {
	font-weight: 500;
	margin-bottom: 42px;
}
.event__btn {
	font-family: Montserrat;
	color: #05376C;
	font-weight: 600;
}
.event__btn:hover {
	text-decoration: none;
	opacity: 0.8;
}


/* ----news---- */
.news {
	padding: 68px 0 80px;
}
.news .title-m {
	margin-bottom: 23px;
}
.news__wrap {
	margin: -20px;
}
.news__card-wrap {
	padding: 20px;
	width: 25%;
}
.news__card {
	height: 100%;
	position: relative;
}
.news__card:hover .news__btn {
	opacity: 1;
	pointer-events: visible;
}
.news__card:hover .news__title {
	text-decoration: underline;
}
.news__img {
	height: 160px;
}
.news__img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.news__info {
	padding: 15px 20px 25px;
	background: #F8F8F8;
}
.news__btn {
	padding: 12px 16px 24px 20px;
	background: #F8F8F8;
	opacity: 0;
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	pointer-events: none;
}
.news__title {
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 120%;
	color: #05376C;
	-webkit-line-clamp: 3;
    height: 57px;
}
.news__info p {
	font-size: 14px;
	-webkit-line-clamp: 3;
    height: 63px;
	line-height: 21px;
}


/* -----quest----- */

.quest {
	padding: 68px 0 70px;
	background: #F2F2F2;
}
.quest__form .title-m {
	margin-bottom: 13px;
}
.quest__contacts .title-m {
	margin-bottom: 25px;
}
.quest__form,
.quest__contacts {
	width: 48%;
}

.quest__form p {
	margin-bottom: 28px;
}
.quest__form-wrap {
	margin: -15px -20px 25px;
}
.quest__inp-wrap {
	padding: 15px 20px;
	width: 50%;
	position: relative;
}
.quest__inp-wrap:last-child {
	width: 100%;
}
.quest__input {
	border: 1px solid #828282;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background: #F2F2F2;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 150%;
	color: #4F4F4F;
	padding: 26px 15px 10px;
	width: 100%;
}
.quest__form-wrap label {
	position: absolute;
	font-family: Montserrat;
	font-weight: 500;
	line-height: 120%;
	top: 35px;
	left: 35px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.quest__form-wrap input:focus + label,
.quest__form-wrap input:valid + label,
.quest__form-wrap textarea:focus + label,
.quest__form-wrap textarea:valid + label {
	top: 23px;
	font-size: 14px;
}
.quest__inp-wrap.alert input,
.quest__inp-wrap.alert textarea {
	border-color: #EB5757;
}
.quest__inp-wrap.alert label {
	color: #EB5757;
	top: 23px;
	font-size: 14px;
}